<h1>Search Users</h1>
<form method="POST" action="/users/search" class="form-inline">
    <div class="form-group">
        <input type="text" name="id" placeholder="Search Users By ID" class="form-control">
    </div>
    <input type="submit" class="btn btn-info" value="Search">

</form>